@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Urbanist';
}
body{
  /* background-image: url('../image/bg.svg'); */
  background: linear-gradient(to right, rgba(232, 246, 236, 0.2),rgba(202, 239, 214, 0.2));
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%;
}
header {
    background-color: #333;
    color: #fff;
    height: 60px;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 2000;
  }
  
  nav {
    display: flex;
    justify-content:left;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding-left: 20px;
    background: linear-gradient(to right, #48CF73,#7ddb9b 50%,#48CF73 100%);
    position: sticky;
  }
  .fa-calculator {
    background: linear-gradient(to right, #48CF73,#7ddb9b 50%,#48CF73 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .logoweb {
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    
  }
  
  .menuweb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-left: 10%;
    padding: 0;
    width: 90%;
  }
  
  .menuweb li {
    margin: 0 20px;
    padding: 10px;
  }
  
  .menuweb li a {
    color: #fff;
    text-decoration: none;
  }
  
  .toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  /* .toggle:hover{
    background-color: #333;
  } */

  .menuweb li:hover{
    background: rgb(233, 221, 221);
    color: black;
    border-radius: 8px;
}
  

  
#btnvirtual{
  background-color: #48CF73;
  color: white;
}
.card-content h3{
  color: #000000b7;
}
#inicio{
  /* float: left; */
  display: flex;
  align-items: center;
  position: relative;
  height: 400px;
}
#gifoficina{
  width: 100%;
}
#home{
  /* float: left; */
  display: flex;
  align-items: center;
  position: relative;
  /* background-color: #e3e3e3; */
  /* background: linear-gradient(to right, rgb(72, 207, 115,0.2),rgb(148, 255, 182,0.2)); */
  /* background-color: rgba(215, 253, 229, 0.1);
	border: 1px solid #cccccc;
	padding: 10px;
	box-shadow: 2px 2px 5px #aaaaaa;
  border-radius: 2px 20px 2px 40px; */
  width: 100%;
  ;
}
#derechos{
  text-align: center;
}
#letrerocarousel{
  /* width: 100%; */
  height: 100%!important;
  /* display: block; */
  /* float: left; */
  /* background-color: rgb(72, 207, 115,0.6); */
  z-index: 1000;
  /* margin: 40px; */
  /* padding: 40px; */
  position: relative;
  /* margin-left: 20px; */
  /* border-radius: 20px; */
  /* transform: skew(-10deg);f */
}
#rowinicio{
  width: 100%!important;
}
#letrero-header{
  font-size: 240%;
  /* height: 100%!important; */
  /* padding: 20%; */
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 15px rgba(0,0,0,0.8);
}
#letrero-header2{
  font-size: 160%;
  /* height: 100%!important; */
  /* padding: 20%; */
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 15px rgba(0,0,0,0.8);
}
#carouselExampleDark{
  transform: skew(-10deg);
  /* background-color: rgb(72, 207, 115); */
}
.card-content h3{
  font-size: 140%;
}
.btncards{
  background: linear-gradient(to right, #48CF73,#72d090 50%,#48CF73 100%)!important;
  color: white!important;
}
.info h1{
  color: white;
}
.carousel-dark .carousel-caption {
  color:#fff!important
}
.carousel-control-prev{
  color:#fff!important
}
.carousel-control-next-icon{
  color:#fff!important
}

   footer {
    /* background-color: #f7f7f7;
    padding: 50px 0; */
    background-color: rgb(72, 207, 115);
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #fff;
    height: 50%;
  }
  
  footer h3 {
    margin-top: 0;
  }
  
  footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }

  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    color: #666;
  }
  
.container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-4 {
    /* width: 33.333333%; */
    padding: 0 15px;
    box-sizing: border-box;
  }
  #servicios{
    position: relative;
  }
  #nosotros{
    position: relative;
  }
#servicios .container{
  display: flex;
    flex-direction: row;
    
}
.justify-content-between {
  justify-content: space-between!important;
}
.card {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 280px;
  height: 20%;
  background-color: #fff;
  /* box-shadow: 0 0 5px rgba(240, 240, 240, 0.3); */
  box-shadow: 0px 0px 20px rgba(0, 255, 183, 0.2);
  border: 40px solid #48CF73;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}

.card-image {
  position: relative;
  width: 30%;
  height: 50%;
  overflow: hidden;
  padding: 10px;
}

.card-image img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: transform 0.9s ease-in-out;
  /* font-size: 2em; */
}

.card-content {
  padding: 5px;
  height: 40%;
}
.card-content h3{
  font-size: 100%;
}

.card:hover  {
  transform: scale(1.1);
  transition: transform 0.9s ease-in-out;
  
  color:#94FFB6;
  
}

/* .card-content h3:hover{
  color:#94FFB6;
} */
.carousel-caption{
  color: white;
  
}


.hoja {
	/* background-color: rgb(92, 255, 115,0.1); */
  /* background: linear-gradient(to right, rgb(72,207,115,0.1),rgb(148,255,182,0.1) 50%,rgb(72,207,115,0.1) 100%); */
  background: rgb(200, 238, 212);
  /* background-color: transparent; */
	border: 1px solid #cccccc;
	padding: 20px;
	box-shadow: 2px 2px 5px #aaaaaa;
  border-radius: 2px 20px 2px 40px;
  width: 80%;
}

#mi-hoja {
	width: 80%;
	margin: 0 auto;
}
#imgcontabilidad{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.row{
  align-items: center;
  text-align: justify;
}


.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  /* background-color: #25d366; */
  background-color: blue;
  color: #fff;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: 2px 2px 3px #999;
  transition: all 0.2s ease-in-out;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 4px #999;
  color: #333;
}

.whatsapp-icon {
  margin-top: 18px;
}



h2.serviciostitulo {
  text-align: center;
  color: var(--primary-gray);
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 30px;
}

.iconoservicios{
  /* filter: #48CF73; */
  filter: hue-rotate(90deg);
  /* background-color: #48CF73; */
}


#imginicio{
  position: relative;
  animation: mover 7s ease-in-out infinite;
  position: absolute; 
  z-index: -1; 
  height: 100%;
  width: 100%;
}

@keyframes mover {
  0% {
    transform: rotate(0) translateX(0) scale(1);
  }
  25% {
    transform: rotate(0.2deg) translateX(-0.5px) scale(1.02);
  }
  50% {
    transform: rotate(0) translateX(0) scale(1);
  }
  75% {
    transform: rotate(-0.2deg) translateX(0.5px) scale(1.02);
  }
  100% {
    transform: rotate(0) translateX(0) scale(1);
  }
}
#txtvirtual{
  color: #000;
  /* color: #fff; */
  /* font-weight: bold; */
    /* color: white; */
  text-shadow: 15px 15px 15px rgba(0,0,0,0.2);
  font-size: 150%;
}


.imagen {
  position: relative;
  display: inline-block;
}

.imagen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0); /* define el color de fondo transparente */
  z-index: 1;
  transition: background-color 0.3s ease-in-out; /* agrega una transición para que el cambio sea suave */
}

.imagen:hover::before {
  /* background-color: rgba(51, 130, 79, 0.5); */
  background-color: rgb(72, 207, 115,0.3);
   /* define el color de fondo con el iluminado */
}



@media (max-width: 650px) {
  .menuweb {
    display: none;
    margin-left: 0;
  }
  nav{
    justify-content: space-between;
  }

  .toggle {
    display: block;
    float: right;
    margin-right: 5%;
  }

  .toggle.active {
    color: #fff;
  }

  .menuweb.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #48CF73,#94FFB6 50%,#48CF73 100%);
    z-index: 1;
  }

  .menuweb.active li {
    margin: 10px 0;
  }

  #letrero-header{
    font-size: 150%;
    height: 100%!important;
    /* padding: 20%; */
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.8);
  }
  #letrero-header2{
    font-size: 120%;
    /* height: 100%!important; */
    /* padding: 20%; */
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.8);
  }
  /* #letrerocarousel{
    width: 40%;
  } */
  #carouselExampleDark{
    width: 100%;
  }
}